{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

<div class="widget-content">
    <div style="padding-left:20px;">
        <h4><strong>WebStore Orders</strong></h4>
    </div>

    {{
        dataGrid.renderGrid('erp-orders-specific-grid', {
            contact_email: entity.email|default('0')
        })
    }}
</div>

